:local {
  $login-button-border: white;
  $login-button-text-color: rgb(25, 34, 41);
  $login-button-background-color: rgb(238, 238, 238);
  $register-button-hover-color: rgb(54, 71, 83);
  
  .login-form {
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
  
  .login-caption {
    font-weight: 400;
    margin: 0 0 50px 0;
  }
  
  .next-button {
    box-sizing: border-box;
    border: 2px solid $login-button-border;
    border-radius: 2px;
    margin: 20px 0;
    padding: 20px 10px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 16pt;
    color: $login-button-text-color;
    background: $login-button-background-color;
  
    &:hover {
      background: darken($login-button-background-color, 5%);
      cursor: pointer;
    }
  }
  
  .caption {
    text-align: center;
  }
  
  .registration-button-link {
    box-sizing: border-box;
    border: 2px solid $login-button-border;
    border-radius: 2px;
    margin: 20px 0;
    padding: 20px 10px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    color: $login-button-background-color;
    background: $login-button-text-color;
    
    &:hover {
      background: darken($register-button-hover-color, 5%);
      cursor: pointer;
    }
  }
}
:global {
  
  html { overflow: hidden; }
  body {
    font: 14pt Arial, sans-serif;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0 0;
  }
  canvas {
    display: inline-block;
    background: #202020;
    width: 95%;
    height: 45%;
    box-shadow: 0px 0px 10px blue;
  }
  #controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
  }
  #record { height: 15vh; }
  #record.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
  }
  #save, #save img { height: 10vh; }
  #save { opacity: 0.25;}
  #save[download] { opacity: 1;}
  #viz {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  @media (orientation: landscape) {
    body { flex-direction: row;}
    #controls { flex-direction: column; height: 100%; width: 10%;}
    #viz { height: 100%; width: 90%;}
  }
  
  
}